body {
  height: 100vh;
  background-color: #000;
}
main,
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.lampada,
.btn {
  width: 100vh;
  text-align: center;
  padding: 40px;
  background-color: rgb(94, 8, 51);
  box-shadow: 5px 5px 15px rgba(252, 248, 13, 0.3);
}

.lampada img {
  width: 200px;
}

.btn-item {
  width: 100px;
  padding: 1em;
  background-color: rgb(41, 6, 138);
  color: white;
  font-size: 1em;
  border-radius: 1px;
  margin-right: 10px;
  border-radius: 20px;
}
